{% extends 'courses/base.html' %}


{% block content %}
	<div class="container">
		<h1 align="center">We believe everyone <br/>deserves excellent future.</h1>
		<p align="center" class="text-muted">In 2018, we started Maca with the simple goal of giving the world great skin.<br/> From that day forward we have stopped at nothing to create the most original,<br/> pure and effective formulas in the skincare game. <br/><br/></p>

		
		<div class="row">
			<div class="col-md-5">
				<div class="card" style="width: 30rem;">
					<!-- <img src="https://c0.wallpaperflare.com/preview/253/12/41/interior-interior-design-office-chair.jpg" class="card-img-top" alt="..."> -->
					<img src="https://c0.wallpaperflare.com/preview/253/12/41/interior-interior-design-office-chair.jpg" class="card-img-top d-block w-100" alt="...">
				</div>
				
			</div>
			<div class="col-md-1">
				<br>
			</div>
			<div class="col-md-6">
				<div style="width: 30rem;">
					
						<!-- <p align="center" class="text-muted">We want you to love your skin, and we want your daily bathing and skincare rituals to be as luxurious and guilt-free as possible.</p> -->
						
				</div>
				
				<img src="https://s3.amazonaws.com/export.easil.com/98d9c46e-e862-4aa1-84d1-c6cc801ec6af/b80b6ed1cab76bf9af.png" style="height: 300px; width: 300px">
			</div>
		</div>
	</div>
{% endblock content %}